# 301 Redirects for Old Products to New Dedicated Hubs
Redirect 301 /products/chain-link-fence/ https://gargindustrialmesh.com/chain-link-mesh/
Redirect 301 /products/bird-spikes/ https://gargindustrialmesh.com/bird-monkey-spikes-net/
Redirect 301 /products/aluminium-perforated-sheet/ https://gargindustrialmesh.com/perforated-sheets/
Redirect 301 /products/ss-wire-mesh/ https://gargindustrialmesh.com/ss-welded-mesh/
Redirect 301 /products/aluminium-door-mesh/ https://gargindustrialmesh.com/aluminium-ss-machhar-jali/
